<div id="background">
  <%= image_tag "http://res.cloudinary.com/yumblr/image/upload/v1445956858/app/sign-in-background.jpg" %>
</div>
<div class="login-container">
  <div class="sign-in-form-header">
    <h1>Yumblr</h1>
  </div>
  <hr>
  <div class="sign-in-form">
    <%= render "shared/sign_in_form", user: @user, type: :new_session %>
  </div>
  <hr>
  <h4>New to Yumblr? <a href="/users/new">Sign up!</a></h4>
</div>
