<script>
  var demo = function() {
    $("#username").typed({
      strings: ["stephcurry30"],
      typespeed: 1,
      showCursor: true,
      callback: function() {
        $("#password").typed({
          strings: ["demopass"],
          typespeed: 1,
          showCursor: true,
          callback: function() {
            $("#submit-login").click();
          }
        })
      }
    })
  };
</script>

<div id="background">
  <%= image_tag "http://res.cloudinary.com/yumblr/image/upload/v1445956858/app/sign-in-background.jpg" %>
</div>
<div class="login-container">
  <div class="sign-in-form-header">
    <h1>Yumblr</h1>
  </div>
  <hr>
  <div class="sign-in-form">
    <%= render "shared/sign_in_form", user: @user, type: :new_session %>
  </div>
  <hr>
  <h4>New to Yumblr? <a href="/users/new">Sign up!</a></h4>
  <h4><a onClick="demo();">Sign in as Demo User</a></h4>
</div>
