// Place all the styles related to the Api::Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* food item show like container */
.food-item-like-btn {
  // z-index: 2;
  bottom: 50px;
  right: 5%;
  position: fixed;
  border-radius: 5px;
  padding: 0 10px;
}

/* like button */
.liked {
  border-color: #D62B00;
  color: #D62B00 !important;
  background-color: black;
  opacity: 0.7;
  transition-duration: 0.33s;
  &:hover {
    color: #aaa !important;
    border-color: #6495ED;
  }
  width: 84px;
}

.like {
  transition-duration: 0.33s;
  background-color: black;
  opacity: 0.7;
  color: #aaa !important;
  &:hover {
    color: #6495ED !important;
    border-color: #6495ED;
  }
  width: 84px;
}
