.restaurant-modal-header {
  color: #FFFFFF;
  text-align: center;
  background: rgba(0, 0, 0, 0.7) !important;
  border-bottom: 1px solid #00cdbe !important;
}

.restaurant-modal-name {
  padding-left: 1em;
}

#map-modal-content {
  // padding-bottom: 75px;
  background: rgba(0, 0, 0, 0.7);
}

.map-container {
  height: 300px;
}

.close {
  color: #888888 !important;
  opacity: 0.7 !important;
}

.restaurant-modal-details {
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.glyphicon-map-marker {
  color: #00cdbe;
}

.glyphicon-earphone {
  color: #00cdbe;
}

.glyphicon-link {
  color: #00cdbe;
}

// #restaurant-modal-container {
//   background-color: rgba(0, 0, 0, 0.7) !important;
// }
// #AACD00
