// Place all the styles related to the Api::Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.food-item-rating:hover {
  cursor: pointer;
  .review-count {
    color: #F5F5F5;
    font-weight: 500;
  }
  .star {
    color: #A5A5A5;
  }
  .on {
    color: #FFFB00;
  }
  .half:after {
    color: #FFFB00;
  }
}

.rating-container {
  padding-left: 0;
  margin-bottom: 0;
}

.review-count {
  color: #bbb;
  padding-left: 7px;
  &:hover {
    color: #F5F5F5;
    font-weight: 500;
  }
}

.star {
  font-size: 16px;
  width: 17px;
  display: inline-block;
  color: #6D6D6D;
  &:hover {
    color: #A5A5A5;
  }
}

.star:last-child {
  margin-right: 0;
}

.star:before {
  content:'\2605';
}

.star.on {
  color: #FFD700;
  &:hover {
    color: rgb(255, 234, 122);
  }
}

.star.half:after {
  content:'\2605';
  color: #FFD700;
  position: absolute;
  margin-left: -17px;
  width: 8.5px;
  overflow: hidden;
  &:hover {
    color: rgb(255, 234, 122);
  }
}
