#review-modal-container > div > div > div.review-modal-dialog.modal.fade.in > div {
  width: 90%;
  // overflow: hidden;
  // overflow-y: auto;
  margin: 5em auto 1em;
  // position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
}

.user-review-food-item-header {
  font-size: 18px;
  font-weight: 700;
}

.user-review-food-item-sub-header {
  font-size: 16px;
  border-top: 1px solid #A9A9A9;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.review-li-editable {
  padding: 0px 15px 20px;
  border-bottom: 1px solid #A9A9A9;
}

.review-rating-container {
  font-size: 18px;
  font-weight: 700;
}

.user-review-options > *{
  font-size: 10px;
  padding: 6px 10px;
  border-radius: 4px;
  background: linear-gradient(white,#eee);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  cursor: pointer;
}

.user-review-options {
  display: block;
  float: right;
  & > .edit-glyph {
    margin-right: 2px;
  }
}

.user-review-options > *:hover {
  background: #F5F5F0;
}



.review-modal-dialog {
  background: rgba(0, 0, 0, 0.8);
  padding-left: 0 !important;
}

.review-modal-header {
  color: #FFFFFF;
  text-align: center;
  background: rgba(0, 0, 0, 0.7) !important;
  border-bottom: 1px solid #00cdbe !important;
}

// #review-modal-container > div > div > div.review-modal-dialog.modal.fade.in {
//   padding-left: 0;
// }

.review-modal-name {
  // padding-left: 1em;
  font-size: 17px;
  letter-spacing: 0.3px;
}

#review-modal-content {
  background: rgb(204, 204, 204);
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

// .map-container {
//   height: 300px;
// }

// .close {
//   color: #888888 !important;
//   opacity: 0.7 !important;
// }

.review-modal-details {
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  text-align: center;
  & > a {
    color: #FFFFFF !important;
  }
}


/*  Review Input  */

#review-input-form {
  margin:0;
  margin-top: 5px;
  padding-left: 15px;
}

#review-input-form .review-input-text {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width  0.2s ease-in-out;
  -moz-transition:width  0.2s ease-in-out;
  -o-transition: width  0.2s ease-in-out;
  transition: width  0.2s ease-in-out;
}

// #review-input-form button {
//   border: 0;
//   background: none;
//   padding: 2px 5px;
//   margin-top: 2px;
//   position: relative;
//   // left: -28px;
//   margin-bottom: 0;
//   -webkit-border-radius: 3px;
//   -moz-border-radius: 3px;
//   border-radius: 3px;
// }

.review-input-text:focus + button {
  z-index: 3;
}

.review-input-text{
  width: 99%;
  max-width: 99%;
}
.review-input-text:focus{
  height: 7em;
}

.review-input-text.focus{
  min-height: 7em;
}


.btn-review-save {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffecc6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffecc6;
	box-shadow:inset 0px 1px 0px 0px #ffecc6;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fff4ad), color-stop(1, #ffd285));
	background:-moz-linear-gradient(top, #fff4ad 5%, #ffd285 100%);
	background:-webkit-linear-gradient(top, #fff4ad 5%, #ffd285 100%);
	background:-o-linear-gradient(top, #fff4ad 5%, #ffd285 100%);
	background:-ms-linear-gradient(top, #fff4ad 5%, #ffd285 100%);
	background:linear-gradient(to bottom, #fff4ad 5%, #ffd285 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4ad', endColorstr='#ffd285',GradientType=0);
	background-color:#fff4ad;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ffce85;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
  margin: 5px 12px 20px 0;
  position: relative;
  float: right;
	text-decoration:none;
}
.btn-review-save:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffd285), color-stop(1, #fff4ad));
	background:-moz-linear-gradient(top, #ffd285 5%, #fff4ad 100%);
	background:-webkit-linear-gradient(top, #ffd285 5%, #fff4ad 100%);
	background:-o-linear-gradient(top, #ffd285 5%, #fff4ad 100%);
	background:-ms-linear-gradient(top, #ffd285 5%, #fff4ad 100%);
	background:linear-gradient(to bottom, #ffd285 5%, #fff4ad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd285', endColorstr='#fff4ad',GradientType=0);
	background-color:#ffd285;
}
.btn-review-save:active {
	position:relative;
	top:1px;
}
