<div id="background">
  <%= image_tag "http://res.cloudinary.com/yumblr/image/upload/v1445956858/app/sign-in-background.jpg" %>
</div>
<div class="login-container sign-up">
  <div class="sign-in-form-header">
    <h1>Yumblr</h1>
  </div>
  <hr>
  <div class="sign-in-form">
    <%= render "shared/sign_in_form", user: @user, type: :new_user %>
  </div>
  <hr>
  <h4>Already registered? <a href="/login">Log in!</a></h4>
</div>
