<% action_url = type == :new_user ? users_url : session_url %>
<% submit_text = type == :new_user ? "Sign Up" : "Log In" %>

<form action="<%= action_url %>" method="post">
  <%= auth_token_input %>

  <% if type == :new_user %>
    <div class="input-group input-group-lg">
      <input class="form-control"
             id="user_first_name"
             type="text"
             placeholder="First name"
             name="user[first_name]"
             required autofocus>
    </div>

    <div class="input-group input-group-lg">
      <input class="form-control"
             id="user_last_name"
             type="text"
             placeholder="Last name"
             name="user[last_name]">
    </div>

    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-envelope"></span>
      </span>
      <input class="form-control"
             id="user_email"
             type="text"
             placeholder="Email"
             name="user[email]">
    </div>
  <% end %>

    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <input class="form-control"
             id="username"
             type="text"
             name="user[username]"
             placeholder="Username">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-lock"></span>
      </span>
      <input class="form-control"
             id="password"
             type="password"
             placeholder="Password"
             name="user[password]">
    </div>

  <% if type == :new_user %>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-lock"></span>
      </span>
      <input class="form-control"
             id="password-confirm"
             type="password"
             placeholder="Confirm password"
             name="user[password_confirmation]">
    </div>
  <% end %>

  <input id="submit-login" class="btn" type="submit" value="<%= submit_text %>">
</form>
