/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

 // .navbar-header ul {
 //   list-style: none;
 //   margin: 0;
 //   padding: 0;
 //   line-height: 1;
 //   display: block;
 //   zoom: 1;
 // }
 // .navbar-header ul:after {
 //   content: " ";
 //   display: block;
 //   font-size: 0;
 //   height: 0;
 //   clear: both;
 //   visibility: hidden;
 // }
 // .navbar-header ul li {
 //   display: inline-block;
 //   padding: 0;
 //   margin: 0;
 // }
 // .navbar-header.align-right ul li {
 //   float: right;
 // }
 // .navbar-header.align-center ul {
 //   text-align: center;
 // }

 //
 // #navbar-contents {
 //   display:block;
 //   text-align:center;
 //   width:150px; /* fixed width */
 //   text-decoration:none;
 //  }


 //  font-family: 'Open Sans', sans-serif;
 //  font-weight: 700;
 //  text-transform: uppercase;




 #find-search-bar {
   opacity: 0.85;
 }

 #location-search-bar {
   opacity: 0.85;
 }

 #nav {
   width:750px;
   margin:0 auto;
   list-style:none;
 }

 .form-control {
   border-radius: 0;
 }
 .btn-default {
   border-radius: 0;
 }

 .search-form {
   position:relative;
   border-radius: 0px 0px 4px 4px;
   color: cornflowerblue;
 }

 .search-btn {
   color: cornflowerblue;
   border-right: none;
 }

 .search-glyphicon {

 }

 .dropdown-menu-food {
   width: 470px;
   padding: 5 0;
   margin: 50px 0 0;
   margin-left: 17%;
 }

 .dropdown-menu-location {
   width: 470px;
   padding: 0 0;
   margin: 50px 0 0;
   margin-left: -115%;
 }

 .dropdown-menu li a {
   font-weight: bold;
 }
 .search-label {
   color: black;
   font-weight: bold;
   border-left: none;
   border-right: none;
   padding-right: 3px;
   padding-left: 0;
 }

 .search-input {
   border-left: none;
   padding-left: 3px;
 }

.form-group{
  opacity: 0.75;
}
 #navbar-center {
   width: 650px;
   height: 10px;
   padding-top: 5px;
   padding-left: 30px;
   margin: 0 auto;
   text-align: center;
 }

 #navbar ul li a {
  //  color: #ffffff;
   text-decoration: none;
   display: block;

   font-size: 14px;
  //  position: relative;
   -webkit-transition: color .25s;
   -moz-transition: color .25s;
   -ms-transition: color .25s;
   -o-transition: color .25s;
   transition: color .25s;
 }
 #navbar ul li a:hover {
   color: #333333;
 }
 #navbar ul li a:hover:before {
   width: 100%;
 }
 #navbar ul li a:after {
   display: block;
   position: absolute;
   right: -3px;
   top: 19px;
   height: 6px;
   width: 6px;
   background: #ffffff;
   opacity: .5;
 }
 #navbar ul li a:before {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   bottom: 0;
   height: 3px;
   width: 0;
   background: #333333;
   -webkit-transition: width .25s;
   -moz-transition: width .25s;
   -ms-transition: width .25s;
   -o-transition: width .25s;
   transition: width .25s;
 }
 #navbar ul li.last > a:after,
 #navbar ul li:last-child > a:after {
   display: none;
 }

 label {
   font-weight: normal;
 }


 .navbar {
   background-color: rgba(0, 0, 0, 0.5);
   color: white !important;
 }

.navbar-default .navbar-text {
  color: white;
}

 .navbar a:visited {
   color:white !important;
 }

 .navbar .dropdown-menu a:visited {
   color:#333 !important;
 }

 .navbar.navbar-default {
   border-bottom: 1px solid #333 !important;
 }

.navbar-nav>.active>a {
   background-color: #333 !important;
 }

 .navbar-default .navbar-brand:visited:hover {
   color: cornflowerblue !important;
 }

 .navbar-nav>a {
   padding-top:15px;
 }

 .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
   background-color: #333 !important;
 }



//  body {
//     background-image: url("/assets/blue-plate-meatloaf.jpg");


// .navbar-header ul li.active a {
//   color: #333333;
// }
// .navbar-header ul li.active a:before {
//   width: 100%;
// }
// .navbar-header.align-right li.last > a:after,
// .navbar-header.align-right li:last-child > a:after {
//   display: block;
// }
// .navbar-header.align-right li:first-child a:after {
//   display: none;
// }
// @media screen and (max-width: 768px) {
//   .nav li {
//     float: none;
//     display: block;
//   }
//   .navbar-header ul li a {
//     width: 100%;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     border-bottom: 1px solid #fb998c;
//   }
//   .navbar-header ul li.last > a,
//   .navbar-header ul li:last-child > a {
//     border: 0;
//   }
//   .navbar-header ul li a:after {
//     display: none;
//   }
//   .navbar-header ul li a:before {
//     display: none;
//   }
// }

// .navbar{
//   margin-top: 20px;
// }



// .navbar-default .navbar-nav>li>a {
//   color: #FFF;
// }

// .navbar-default .navbar-brand {
//   color:#ccc;
// }
// .navbar-default .navbar-brand:hover {
//   color: cornflowerblue;
// }





//     background-color: #cccccc;
// }
