/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

 @media (min-width: 768px) {
   .container {
     min-width: 100%;
   }
 }

 @media (max-width: 817px) {
 }

 @media (max-width: 880px) {
   .pac-container {
     left: 53% !important;
   }
   .nav-join {
     display: none;
   }
   .nav-login {
     border: 1px solid rgba(0,205,190,0.2);
     color: #00cdbe;
     padding: 8px 16px;
     transition: all 0.2s ease-in-out 0s;
     &:hover {
       color: white !important;
       text-decoration: none;
       background-color: #00cdbe;
       border-radius: 2px;
     }
   }
 }

.container {
  min-width: 100%;
  height: 65px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.btn[disabled] {
  cursor: wait;
}

#navbar {
  margin-bottom: 0;
}

#center {
  display: inline-block;
  padding-top: 8px;
  position: relative;
  left: 3%;
}

#nav {
  width:750px;
  margin:0 auto;
  list-style:none;
}


// #navbar-center {
//   width: 650px;
//   height: 10px;
//   padding-top: 5px;
//   padding-left: 30px;
//   margin: 0 auto;
//   text-align: center;
// }

#navbar ul li a {
  //  color: #ffffff;
  text-decoration: none;
  display: block;

  font-size: 14px;
  //  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

// #navbar ul li a:hover {
//   color: #333333;
// }

#navbar ul li a:hover:before {
  width: 100%;
}

#navbar ul li a:after {
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  // background: #ffffff;
  opacity: .5;
}

#navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#navbar ul li.last > a:after,
#navbar ul li:last-child > a:after {
  display: none;
}

label {
  font-weight: normal;
}

.navbar-header {
  width: 75px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important;
}

.navbar-text {
  padding-top: 10px;
}

.navbar-default .navbar-text {
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  & > .nav-login {
    color: white;
    padding-right: 12px;
    &:hover {
      color: #00cdbe;
      text-decoration: none;
    }
  }
  & > .nav-join {
    border: 1px solid rgba(0,205,190,0.2);
    color: #00cdbe;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #00cdbe;
      border-radius: 2px;
    }
  }
}



.form-control {
  border-radius: 0;
}

.user-icon {
  display: inline-block;
}


.btn-default {
  border-radius: 0;
}

.form-group{
  opacity: 0.8;
}

.search-form {
  position:relative;
  border-radius: 0px 0px 4px 4px;
  color: cornflowerblue;
}

.search-btn {
  color: cornflowerblue;
  border-right: none;
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-menu-food {
  width: 470px;
  padding: 5px 0 10px;
  margin: 50px 0 0;
  margin-left: 17%;
}

.dropdown-menu-location {
  width: 470px;
  padding: 5px 0 10px;
  margin: 50px 0 0;
  margin-left: -115%;
}

// .navbar .dropdown-menu a {
//   font-weight: bold;
//   color: #fff !important;
//   &:visited {
//     color: #fff !important;
//   }
// }

.user-dropdown {
  min-width: 0;
  & > li {
    padding: 2px 0px 0px 22px;
    &:last-child {
      margin-bottom: 5px;
    }
  }
}

.divider {
  background-color: #505050;
  margin: 9px 0 9px !important;
}
.dropdown-menu > li > a {
  font-weight: bold;
  color: #fff;
  &:hover {
    color: #85754E;
    background-color: #000;
  }
}

.search-label {
  color: black;
  font-weight: bold;
  border-left: none;
  border-right: none;
  padding-right: 3px;
  padding-left: 0;
}

.search-input {
  border-left: none;
  padding-left: 3px;
}


// 768
// 880


.navbar.navbar-default {
  border-bottom: 1px solid #333 !important;
}

.navbar-nav>.active>a {
  background-color: #333 !important;
}

// .navbar-default .navbar-brand:visited:hover {
//   color: cornflowerblue !important;
// }

.navbar-nav>a {
  padding-top:15px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #333 !important;
}



//  body {
//     background-image: url("/assets/blue-plate-meatloaf.jpg");


// .navbar-header ul li.active a {
//   color: #333333;
// }
// .navbar-header ul li.active a:before {
//   width: 100%;
// }
// .navbar-header.align-right li.last > a:after,
// .navbar-header.align-right li:last-child > a:after {
//   display: block;
// }
// .navbar-header.align-right li:first-child a:after {
//   display: none;
// }
// @media screen and (max-width: 768px) {
//   .nav li {
//     float: none;
//     display: block;
//   }
//   .navbar-header ul li a {
//     width: 100%;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     border-bottom: 1px solid #fb998c;
//   }
//   .navbar-header ul li.last > a,
//   .navbar-header ul li:last-child > a {
//     border: 0;
//   }
//   .navbar-header ul li a:after {
//     display: none;
//   }
//   .navbar-header ul li a:before {
//     display: none;
//   }
// }

// .navbar{
//   margin-top: 20px;
// }



// .navbar-default .navbar-nav>li>a {
//   color: #FFF;
// }

// .navbar-default .navbar-brand {
//   color:#ccc;
// }
// .navbar-default .navbar-brand:hover {
//   color: cornflowerblue;
// }
