.static-errors-container {
  position: fixed;
}

.flash {
  width: 298px;
  margin: -8px auto;
  border-radius: 5px;
  position: relative;
  z-index: 999;
  text-align: center;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
